FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/project/.settings
FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/project/Debug
FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/project/Release
FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/build

FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/rpsmg_ping
